/* default style for all sreens */
*{
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}




    .header{
        min-width: 390px;
        height: 56px;
        background: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 358px;
        
    }



    .container1{
        width: 278px;
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* img */

    /* input */

    .search_icon_div{
        width: 238px;
        height: 32px;
        border-radius: 8px;
        background-color: #303030;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .search_bar_wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 222px;
        height: 16px;
        border-radius: 8px; 
        position: relative;
       
    }


    .search_bar_wrapper svg{
        position: absolute;
        left: 0px;
    }

    

    .search_bar_wrapper p{
        color: var(--grey-g-100, #B5B5B5);
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
width: 44px;
height: 18px;
position: absolute;
top: 0;
left: 26px;

    }
    
    input:focus{
        outline: none;
    }
  
    .search_bar{
        width: 222px;
        height: 16px;
        border-radius: 8px;
border: 1px solid var(--stroke-s-200, #303030);


background: var(--grey-g-200, #303030);
    }

    .container2{
        width: 72px;
        height: 32px;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .img_div{
        
    }
    /* img */
    .img_div svg{
        display: block;
        align-items: center;
        justify-content: center;
        
        
    }

    .user_acc{
        width: 28px;
        height: 28px;
        background-color: #36FBA1;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .user-name-logo{
        width: 28px;
        height: 28px;
        background-color: #36FBA1;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    } */

    /* .user-name-logo P{
        
        color: rgba(0, 0, 0, 0.40);
        text-align: center;
        font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
    } */

    .user_acc p{
        padding: 2px;
        color: rgba(0, 0, 0, 0.40);
        font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 130%; 

font-family: Inter;

    }

    .change-my-color{
        fill: green;
    }


/* Plans div */

.plan-div{
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    min-width: 390px;
    height: 104px;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* .content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    height: 36px;
    
    
    
} */

.text-div{
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-bottom: 12px;
    width: 366px;
    height: 36px;
    /* background-color: grey; */
    } 
    

.text-div p{
    color: var(--font-light, #E3E3E3);
    display: block;

/* Text-13/medium */
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
width: 330px;
height: 36px;
}

.plans-button-div{
    width: 366px;
  
}

button{
    
width: 99px;
height: 28px;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.10);
background: var(--White, #FFF);
box-shadow: 0px -1px 0px 0px #B5B5B5 inset;

color: var(--font-dark, #323232);

/* text */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 130%; 
}



.exit-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    /* background-color: #005BD3; */
}

/* .button-div{
    width: 100%;
    
} */


/* setup guide div */

.setup-guide-div-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    min-width: 390px;
    height: 124px;
    border: 1px solid var(--stroke-s-50, #DBDBDB);
background: var(--White, #FFF);
/* background-color: #005BD3; */
box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.setup-guide-div{
    display: flex;
    justify-content: center;
    align-items: start;
    min-width: 374px;
    height: 108px;
    /* background-color: yellowgreen; */
}

.setup-guide-content-div{
    min-width: 330px;
    height: 92px;
}

.setup-guide-content-div h2{
width: 82px;
height: 20px;
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
}

.setup-guide-content-div p{
    margin-top: 4px;
    width: 330px;
    height: 36px;
font-family: Inter;
font-size: 13px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
}

.setup-guide-status-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 168px;
    height: 16px;
    margin-top: 16px;
}

.setup-guide-status-div p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 16px;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
margin-top: 0;
}

.setup-guide-chevron-div{
    min-width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Store customization div */

.svg-checkbox{
    background-color: red;
}

.store-customization-div-wrapper{
    min-width: 374px;
    height: 309px;
    margin-top: 16px;
    /* background-color: green; */
}

.store-customization-div{
    min-width: 374px;
    height: 309px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

.store-cta{
    min-width: 374px;
    height: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
background: #F3F3F3;
}



.store-customization-content-div{
    margin-bottom: 8px;
    width: 358px;
    height: 121px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: yellow; */
}

.store-customization-ticker-div{
    width: 24px;
    height: 121px;
    /* background-color: pink; */
}

.customize-store-toggle-button{

}

.store-customization-ticker-content-div{
    width: 326px;
    height: 117px;
    /* background-color: blue; */
}

.store-customization-content-div h2{
    color: var(--font-dark, var(--grey-g-200, #303030));
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 140%; 
width: 176px;
height: 18px;

}

.checkers-details{
    display: block;
}

.store-customization-content-div p{
    color: var(--font-mid-2, #616161);
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
width: 326px;
height: 39px;
margin-top: 16px;
}

#store-manual-link{
    color: var(--states-focused, #005BD3);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%;
text-decoration: none;
width: 326px;
height: 39px;
}


.store-customization-content-div button{
    width: 127px;
    height: 28px;
    border-radius: 6px;
    margin-top: 16px;
    border-radius: 6px;
border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
background: #404040;
box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
color: #F6F3F6;
}


/* /////////// */

.first-product-button-div{
    display: flex;
    align-items: center;
    
    gap: 16px;
    
}

.first-product-button-div svg{
   
   margin-top: 16px;
}

/* .first-product-button-div p{
    display: flex;
} */

.first-product-cta-div{
    width: 374px;
    height: 159px;
    background-color: khaki;
}


#import-product-btn{
    
    background-color: transparent;
    width: 112px;
    height: 28px;
    
    

    /* text */
    color: var(--font-dark, #323232);

/* Text-12/Semi bold */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 15.6px */
}


.custome-domain-div {
    width: 326px;
    height: 139px;
}

.custome-domain-div h2{
    width: 137px;
    height: 18px;
    margin-bottom: 16px;
}

.custome-domain-div p{
    width: 326px;
    height: 57px;
    margin-bottom: 16px;
    color: var(--font-mid-2, #616161);

/* Text-13/medium */
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 18.2px */
}

.custome-domain-div button{
    margin-top: 0px;
    border-radius: 6px;
border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
background: #404040;
box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;

/* content style */
color: var(--font-light, #F6F3F6);

/* Text-12/Semi bold */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 130%; 
}


.task-checker{
    width: 374px;
    height: 40px;
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-checker-one{
    display: none;
}


.task-checker-inner-div{
    width: 358px;
    height: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    /* background-color: navy; */
}

.task-checker-inner-div p{
    color: var(--font-dark, var(--grey-g-200, #303030));
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
color: #303030;
width: 137px;
height: 18px;
}

#task-checker-text{
    width: 174px;
    height: 18px;
    /* background-color: green; */
}

#task-checker-text-two{
    width: 136px;
}

#task-checker-text-three{
    width: 103px;
}

#task-checker-text-four{
    width: 164px;
}